.btn-props {
    text-transform: none;
    background-color: blueviolet;
}

.flex-btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 7rem;
}

