.btn-props {
    text-transform: none;
    background-color: blueviolet;
}

.flex-btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 7rem;
}

@media only screen and (max-width: 465px) {
    .flex-btn-container {
      display: flex;
      flex-direction: column;
    }
    .btn-margin {
      margin-top: 1rem;
    }
  }