/* .btn-props {
    text-transform: none;
    background-color: blueviolet;
} */

.flex-btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1rem;
    flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .btn-margin {
    margin-right: 3rem;
  }
}

/* @media only screen and (max-width: 700vw) {
    .btn-margin {
      margin-top: 1rem;
    }
  } */